body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white; /* This will set the default text color to white */
}

h1 {
    color: white;
}

h3 {
    color: white;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
    margin-left: 100px;
    margin-top: 100px;
}

.line {
    height: 9px;
    background-color: white;
    margin: 4px 0;
}

.company-name {
    margin-left: 25px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
}

.know {
    margin: 4px 0;
}

.your-body {
    margin: 4px 0;
}

.nav-menu {
    display: none;
    background-color: black;
    padding: 10px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    margin: 10px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}
