body {
    font-family: Arial, sans-serif; /* This changes the overall font of the page */
    background-color: #111111; /* This changes the background color of the page */
    color: white; /* This will set the default text color to white */
}


/* Sets the position of the header */
.header {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-left: 7%;
    margin-top: 7%;
    
}

.burger-menu {
    display: flex;
    flex-direction: column;
    width: 70px; /* Changes the width of the burger menu*/
    cursor: pointer;
}

.line {
    height: 12px; /* Changes the heiight of each lines of the burger menu  */
    background-color: white;
    margin: 4px 0;
}

.company-name {
    margin-left: 20px;
    font-size: 28px;
    font-weight: bold;
    font-family: 'impact' , sans-serif;
    letter-spacing: 3px;
    display: flex;
    flex-direction: column;
}

.nav-menu {
    display: none;
    background-color: black;
    padding: 10px;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu li {
    margin: 10px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
}

.slogan-container {
    margin-left: 6.6%; 
    text-align: left;
    max-width: 40%;
}
.slogan {
    font-size: 104px;
    font-weight: bold;
}

.slogan-description {
    font-size: 40px;
    margin-left: 0.4%;
}